@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


@keyframes fadeInBg {
  0% {opacity:0;}
  100% {opacity: 0.3;}
}

* {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  font: 16px/1 'Open Sans', Arial, Helvetica, sans-serif, white;
}

body::before {
  background-image: url("https://i.imgur.com/CDemw6R.jpg");
  content: '';
  background-size: contain;
  background: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: .3;
  position: fixed;
  z-index: -1;
  animation: fadeInBg ease 5s;
  margin-top: 50px;
}



.name {
  margin-right: auto;
}

.hp-link {
  text-decoration: none;
  transition: transform .3s;
  &:hover {
    transform: translateY(-12%);
  }
}

.hp-link.name {
  color: lemonchiffon;
}

.hp-link.about {
  color: dodgerblue;
}

.hp-link.projects {
  color: lightpink;
}

.hp-link.github {
  color: aquamarine;
}

.abt-header {
  display: flex;
  justify-content: center;
  margin: 50px;
  animation: fadeIn ease 2s;
  font-style: italic;
}


.abt-info {
  display: flex;
  text-align: justify;
  margin: 40px;
  font-size: 20px;
  font-weight: 500;
  color:whitesmoke;
  padding: 30px;
  line-height: 2;
  animation: fadeIn ease 5s;
}


.skillz {
  display: flex;
  text-align: justify;
  margin: 50px;
}

.home-text {
  display: flex;
  justify-content: center;
  font-size: 70px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.wd {
  color: #fc5555;
}

.cr {
  color: #0055ff;
}

.about-me {
  display: grid;
  background: dodgerblue;
  opacity: .9;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 5px 10px 8px #888888;
  animation: fadeIn ease 2s;
}

.bkgd-img {
  background-position: center;
  background-size: contain;
}

.projects-header {
  font-size: 75px;
  font-style: italic;
  text-align: center;
  animation: fadeIn ease 2s;
  color: #ff5151;
}

.container {
  display: grid;
  margin-top: 70px;
  justify-content: center;
  grid-template-columns: 315px 315px 315px;
  grid-template-rows: 350px 350px 350px;
  grid-gap: 85px;
  border-radius: 30px;
  animation: fadeIn ease 2s;
}

.item {
  background-color: #5ba2ff;
  border-radius: 30px;
  opacity: .9;
  overflow: hidden;
  text-decoration: none;
  color: white;
  text-align: center;
  font-style: italic;
  transition: transform .2s;
    &:hover {
    transform: translateY(-9%);
  }


  img {
    width: 90%;
    margin-top: 20px;
    border-radius: 30px;
  }
}

.copyright {
  text-align: center;
  font-weight: normal;
}